.spacer{
    flex: 1 1 auto;
}
span:focus{
border: 0;
outline: none;
}
span{
    cursor : pointer;
}
.bg-light{
    background-color: transparent !important;
}
.bgimg{
    background-image: url(../pics/background.jpg);
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    position: relative; 
    height: 650px;
    width: 100%;
}