<!-- <mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>El-Camino</span>
    <span class="spacer"></span> 
    <div *ngIf ="auth.afAuth.authState | async as user ; else showLogin">
      <span>Hello {{user.displayName}}</span>
      <button mat-button (click)="auth.logout()">Logout</button>
    </div>
    <ng-template #showLogin>
      <button mat-button (click)="auth.login()">Login with google</button>
    </ng-template>
  </mat-toolbar-row>
</mat-toolbar> -->
<nav class="navbar navbar-expand-lg navbar-light mb-1">
    <a class="navbar-brand" href="#">ElCamino</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav  ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li> 
      </ul>
    </div>
  </nav>
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="https://images.pexels.com/photos/1064129/pexels-photo-1064129.jpeg" alt="First slide">
        <div class="container">
          <div class="carousel-caption">
            <h1>Example headline.</h1> 
          </div>
        </div>
      </div>
    </div>
  </div>